input[type=checkbox]:checked + label{
    text-decoration: line-through;
  }
  input[type=checkbox]:not(:checked ) + label{
    text-decoration: none;
  }
  svg:hover{
    color:bisque;
  }
  #box{
    display: flex;
    flex-direction: column;
  }